@import "../css/loaders/loader-typing.css";
@import "../css/theme.css";
@import "../css/custom.css";
@import "../css/fonts.css";
@import "../css/glitch.css";

// -------------- #vARIABLES

:root {
	//space
	--space: 20px;
	--half-space: calc(var(--space) / 2);
	--double-space: calc(var(--space) * 2);
	--space-lg: calc(var(--space) * 4);
	--space-xl: calc(var(--space) * 8);

	//colors
	--c-dark: black;
	--c-light: #eee;
	--c-accent: #e6007a;
	--c-cyan: #00ffe1;

	--c-paragraph: #ddd;
}

// -------------- #GLOBAL

body {
	background-color: black;
	text-align: center;
	& > div.loader {
		background-color: black;
	}
}

section,
.section {
	display: block;
	float: left;
	width: 100%;
	clear: both;
	padding: 6rem 0;
}

.pd-0 {
	padding: 0;
}

.container {
	display: inline-block;
	margin: auto;
	text-align: left;
	padding: 0 1.5rem;
}

.btn-outline-white,
.btn-outline-primary {
	border-width: 2px;
	font-weight: bold;
	transform: scale(0.9);
}

.navbar-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100vw;
}

#footer {
	position: relative;
	float: left;
	display: block;
	width: 100%;
	z-index: 4;
	color: var(--c-dark);
}

// -------------- #HOME STYLES

#home {
	// -------------- #TYPOGRAPHY

	color: var(--c-light);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--c-light);
		margin-bottom: 3rem;
	}
	p {
		font-size: 18px;
		line-height: 1.8;
		color: var(--c-paragraph);
	}

	ul,
	ol,
	li {
		display: block;
		float: left;
		width: 100%;
		clear: both;
	}

	// -------------- #UTILITIES

	.wrap {
		display: block;
		width: 100%;
		float: left;
		.wrap-left {
			padding-bottom: 3rem;
			padding-top: 3rem;
			display: inline-block;
			max-width: 560px;
			float: left;
		}
		.wrap-right {
			padding-bottom: 3rem;
			padding-top: 3rem;
			display: inline-block;
			max-width: 560px;
			float: right;
		}
	} //wrap

	.box-outlines {
		display: inline-block;
		width: auto;
		position: relative;
		padding: 4rem 3rem !important;

		p {
			margin-bottom: 0;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border: solid 2px var(--c-accent);
			pointer-events: none;
		}
		&::before {
			transform: translate3d(-2%, -2%, 0);
		}
		&::after {
			transform: translate3d(2%, 2%, 0);
		}
	} //box outlines

	.icons-wrap {
		display: flex;
		justify-content: space-between;
		padding-top: 3rem;

		@media (min-width: 960px) {
			justify-content: space-evenly;
		}

		.icon-wrap {
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			.icon {
				width: 3rem;
				height: 3rem;
				margin-bottom: 1rem;
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				&.polkadot {
					background-image: url("/assets/img/teams/polkadot.png");
				}
				&.acala {
					background-image: url("/assets/img/teams/acala.png");
				}
				&.chainlink {
					background-image: url("/assets/img/teams/chainlink.png");
				}
				&.moonbeam {
					background-image: url("/assets/img/teams/moonbeam.png");
				}
			}
		}
	}

	// -------------- #SECTIONS

	.hero {
		min-height: 100vh;
		top: 0;
		display: flex;
		padding: 0;

		@media (min-height: 600px) {
			position: sticky;
		}

		.container {
			margin: auto;
			text-align: center;
			padding-top: 6rem;
			padding-bottom: calc(6rem + 3vh + 3vw);
			.treatment {
				margin-bottom: 3rem;
				img {
					display: inline-block;
					width: 100%;
					height: auto;
					max-width: 768px;
				}
				.typed-text-wrap {
					white-space: nowrap;
					color: white;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translate3d(-50%, -100%, 0);
					.typed-text {
						color: inherit;
					}
				}
			}
		}
	}

	.box-graphic {
		text-align: center;
		img {
			max-width: 100%;
			height: auto;
		}
	} //box graph

	.launch-your-blockchain,
	.bring-x-to-your-project {
		position: relative;
	} //launch your blockchain

	.launch-your-blockchain {
		padding-top: 12rem;
	}
	.bring-x-to-your-project {
		.section-hero h2 {
			white-space: nowrap;
			width: 100%;
			overflow: hidden;
		}
		.typed-text {
			color: var(--c-accent);
		}
	}

	.section-hero {
		position: relative;
		display: block;

		h2 {
			max-width: 560px;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-100%);
			padding-right: 3rem;

			@media (min-width: 768px) {
				left: 0;
			}
		}

		.bg-img {
			opacity: 0.5;
			text-align: center;
			z-index: -1;
			img {
				max-width: 80%;
			}
		}
	} //sticky hero

	.features {
		position: relative;
		z-index: 4;
		@media (min-width: 768px) {
			margin-left: 2rem;
			padding: 64vh 0;
		}
		.feature {
			margin-bottom: 6rem;
		}
	}

	.join-ecosystem {
		position: relative;
		text-align: center;
		padding-top: 9rem;
	}

	.wrap__bottom {
		padding: 3rem 0;

		h3 {
			line-height: 2;
		}

		li {
			font-size: 1.4rem;
			padding: 0 3rem;
			line-height: 2;
			margin-bottom: 1rem;
			width: 100%;
		}

		@media (min-width: 960px) {
			.wrap-left {
				max-width: 560px;
				width: 40%;
			}
			.wrap-right {
				float: left;
			}
		}
	}

	.take-flight {
		text-align: center;
		padding-bottom: 0;
		padding-top: 9rem;

		.flight-select-wrap {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			padding-top: 3rem;

			.flight-select {
				min-width: 240px;
				width: 100%;
				margin: 0 1rem 4rem 1rem;

				@media (min-width: 768px) {
					width: calc(50% - 4rem);
				}
				@media (min-width: 960px) {
					width: 28%;
				}

				h3 {
					margin-bottom: 3rem;
					text-align: left;
				}
				a.with-icon {
					text-align: left;
					position: relative;
					display: block;
					width: 100%;
					padding-right: 3rem;
					margin-top: 2rem;
					font-size: 1.4rem;

					&::after {
						content: '';
						position: absolute;
						width: 1.2rem;
						height: 1.2rem;
						background-color: var(--c-accent);
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						mask-size: contain;
						mask-position: right center;
						mask-repeat: no-repeat;
						mask-image: url("/assets/img/arrow-right.svg");
					}

					&:hover {
						color: var(--c-cyan);
						&::after {
							background-color: var(--c-cyan);
						}
					}
				}
			}
		}
	}

	@media (min-width: 768px) {
		.canary-network {
			.wrap {
				position: relative;
				z-index: 40;
				margin-top: -6rem;
			}
		}
	}

	@media (min-width: 992px) {
		.section-hero.sticky {
			position: sticky;
			top: 10rem;
			h2 {
				padding-bottom: 2rem;
			}
		}

		.bring-x-to-your-project {
			.section-hero {
				margin-bottom: -12rem;
			}
		}
	}

	@media (min-width: 1200px) {
		.features {
			padding-right: 3rem;
		}
	}
} //home

//Media Query Overwrites
@media (min-width: 768px) {
	:root {
		--space: 28px;
	}
}
