@import "../css/loaders/loader-typing.css";
@import "../css/theme.css";
@import "../css/custom.css";
@import "../css/fonts.css";
@import "../css/glitch.css";

body {
	background-color: black;
	text-align: center;
	& > div.loader {
		background-color: black;
	}
}

section,
.section {
	display: block;
	float: left;
	width: 100%;
	clear: both;
	padding: 6rem 0;
}

.pd-0 {
	padding: 0;
}

.container {
	display: inline-block;
	margin: auto;
	text-align: left;
	padding: 0 1.5rem;
}

.btn-outline-white,
.btn-outline-primary {
	border-width: 2px;
	font-weight: bold;
	transform: scale(0.9);
}

.navbar-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100vw;
}

.hero {
	padding-top: 8rem;
	.container {
		text-align: center;
		.treatment {
			margin-bottom: 4rem;
			img {
				display: inline-block;
				width: 100%;
				height: auto;
				max-width: 768px;
			}
			.typed-text-wrap {
				white-space: nowrap;
				color: white;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate3d(-50%, -100%, 0);
				.typed-text {
					color: inherit;
				}
			}
		}
	}
}

#home {
	color: white;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: white;
	}
	p {
		font-size: 18px;
		line-height: 2;
		color: #ccc;
	}

	& > .container {
		//min-height: 100vh;
	}

	.intro {
		.wrap {
			max-width: 560px;
			float: right;
		}
	} //intro
} //home
