@import "../css/loaders/loader-typing.css";
@import "../css/theme.css";
@import "../css/custom.css";
@import "../css/fonts.css";
@import "../css/glitch.css";

body {
	background-color: black;
	& > div.loader {
		background-color: black;
	}
}

.navbar-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100vw;
}

.max-hero {
	margin-top: 6rem;
	// & > .container {
	// 	min-height: 100vh;
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: space-between;
	// }
}

section {
	display: block;
	float: left;
	width: 100%;
	clear: both;
}

.btn-outline-white,
.btn-outline-primary {
	border-width: 2px;
	font-weight: bold;
	transform: scale(0.9);
}

#home {
	color: white;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: white;
	}
	p {
		font-size: 18px;
		line-height: 2;
		color: #ccc;
	}

	& > .container {
		//min-height: 100vh;
	}

	.intro {
		.wrap {
			max-width: 560px;
			float: right;
		}
	} //intro
} //home
