<!-- FOOTER -->
<section class="p-0">
    <div class="container">
        <div class="modal fade" id="subscribe-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <svg class="icon bg-dark" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529" />
                                <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529" />
                            </svg>
                        </button>
                        <div class="m-xl-4 m-3">
                            <div class="text-center mb-3">
                                <p class="h1 mb-2">Stay in the loop</p>
                                <p>Subscribe to the newsletter to hear about Kusama updates and events.</p>
                            </div>

                            <!--[if lte IE 8]>
                            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                            <![endif]-->
                            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                            <script>
                                hbspt.forms.create({
                                    portalId: "7051618",
                                    formId: "063a0b68-7cc1-4d9f-9c4e-6cee673e8427"
                                });
                            </script>

                            <small class="text-muted form-text">To see how we use your
                                information please see our
                                <a href="/privacy" target="_blank">privacy policy</a>.
                                Unsubscribe anytime by
                                clicking the link in the
                                bottom of any newsletter.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark text-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-lg-4 mt-3 mt-lg-0 text-center">
                <h5 class="h1 large text-center">Stay in the loop</h5>
                <p>Subscribe to the newsletter to hear about
                    Kusama updates and events.</p>
                <button class="btn btn-outline-primary" data-toggle="modal" data-target="#subscribe-modal">Subscribe</button>
                <small class="text-muted form-text mt-3">To see
                    how we use your information please see
                    our <a href="/privacy">privacy
                        policy</a>.</small>
            </div>
        </div>
    </div>
</section>
<footer class="pb-4 bg-dark text-light" id="footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-6 col-sm-3 col-lg-3 mt-3 mt-lg-0">
                <h5>Developers</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="https://wiki.polkadot.network/docs/en/kusama-index" target="_blank" class="nav-link">Docs</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/paritytech/polkadot" target="_blank" class="nav-link">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://matrix.to/#/!HzySYSaIhtyWrwiwEV:matrix.org?via=matrix.parity.io&via=matrix.org&via=web3.foundation" target="_blank" class="nav-link">Technical Riot Chat</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://web3.foundation/grants" target="_blank" class="nav-link">Web3 Foundation Grants</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://riot.im/app/#/room/!QXMnIJzxlnVrvRzhUA:matrix.parity.io?via=matrix.parity.io&via=matrix.org&via=web3.foundation" target="_blank" class="nav-link">Governance Chat</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://matrix.to/#/!LhjZccBOqFNYKLdmbb:polkadot.builders?via=matrix.parity.io&via=matrix.org&via=web3.foundation" target="_blank" class="nav-link">Validator Chat</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-3 col-lg-3 mt-3 mt-lg-0">
                <h5>Community</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="https://www.notion.so/web3foundation/Polkadot-Community-Hub-ee1fd077ff6c42c381940404f6aa9f1c" target="_blank" class="nav-link">Community Hub</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://share.hsforms.com/7051618/2ed06e3a-2d5b-4acf-a9f1-71970bf868cb" target="_blank" class="nav-link">Ambassador Program</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.notion.so/web3foundation/Polkadot-Meetup-Hub-4511c156770e4ba9936386d8be5fe5be" target="_blank" class="nav-link">Meetup Hub</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.meetup.com/pro/polkadot" target="_blank" class="nav-link">Find a Local Meetup</a>
                    </li>
                    <li class="nav-item">
                        <a href="/assets/kusama-brand-assets.zip" class="nav-link">Brand Assets</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-3 col-lg-3 mt-3 mt-lg-0">
                <h5>Social</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="https://t.me/kusamanetworkofficial" target="_blank" class="nav-link">Telegram</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://matrix.to/#/!HfRYKXBoPmDBCAWUEJ:polkadot.builders?via=web3.foundation&via=matrix.org&via=matrix.parity.io" target="_blank" class="nav-link">Watercooler Riot Chat</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/kusamanetwork" target="_blank" class="nav-link">Twitter</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.reddit.com/r/Kusama/" target="_blank" class="nav-link">Reddit</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.youtube.com/channel/UCq4MRrQhdoIR0b44GxcCPxw" target="_blank" class="nav-link">YouTube</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.crowdcast.io/polkadot" target="_blank" class="nav-link">Crowdcast Webinars</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-3 col-lg-3 mt-3 mt-lg-0">
                <h5>Info</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="mailto:support@kusama.network" target="_blank" class="nav-link">General Inquiries</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://polkadot.network" target="_blank" class="nav-link">Polkadot</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://substrate.dev" target="_blank" class="nav-link">Substrate</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://web3.bamboohr.com/jobs/" target="_blank" class="nav-link">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://web3.foundation" target="_blank" class="nav-link">Web3 Foundation</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://parity.io" target="_blank" class="nav-link">Parity Technologies</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-auto text-center">
                <small class="text-muted">&copy;
                    <script type="text/JavaScript">document.write(new Date().getFullYear());</script>
                    Kusama · <a href="/privacy">Privacy
                        Policy</a> · <a href="/terms">Terms
                        and Conditions</a> · <a href="#" onclick="return klaro.show();">Cookie Settings</a></small>
            </div>
        </div>
    </div>
    </div>
</footer>
<a href="#" class="btn back-to-top btn-primary btn-round" data-smooth-scroll data-aos="fade-up" data-aos-anchor="section:last-of-type" data-aos-mirror="true" data-aos-once="false">
    <svg class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Icon For Arrow-up</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
            <rect fill="#000000" x="11" y="5" width="2" height="14" rx="1"></rect>
            <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero"></path>
        </g>
    </svg>
</a>
