<!-- HERO -->
<section class="hero">

    <div class="container">

        <section class="treatment pd-0">
            <img
                src="/assets/img/animation.gif"
                alt="Kusama"
            >
            <div class="typed-text-wrap">
                <span class="h2 typed-text"></span>
            </div>
        </section>

        <section class="button-wrap pd-0">
            <a
                href="http://claim.kusama.network/"
                class="btn btn-lg btn-cta btn-outline-white text-white mx-2 mb-2 mb-sm-0"
            >
                <span
                    class="text-glitch"
                    data-text="CLAIM KSM"
                >Build Your Blockchain</span>
            </a>
            <button
                type="button"
                class="btn btn-lg btn-cta btn-outline-primary text-white mx-2"
                data-toggle="modal"
                data-target="#subscribe-modal"
            >
                <span
                    class="text-glitch-pink"
                    data-text="SUBSCRIBE"
                >SUBSCRIBE</span>
            </button>
        </section>

    </div>
    </div>
</section>