<!-- HERO -->
<section class="hero">

    <div class="container">

        <section class="treatment pd-0">
            <img
                src="/assets/img/animation.gif"
                alt="Kusama"
            >
            <div class="typed-text-wrap">
                <span
                    class="h2 typed-text typed-text-hero"></span>
            </div>
        </section>

        <section class="button-wrap pd-0">
            <a
                href="https://www.substrate.io/"
                target="_blank"
                rel="noopener"
                class="btn btn-outline-white btn-blank"
            >
                Build Your Blockchain
            </a>

            <a
                href="#"
                class="btn btn-outline-primary"
                data-toggle="modal"
                data-target="#subscribe-modal"
            >
                Subscribe for Updates
            </a>

        </section>

    </div>
    </div>
</section>