<!-- HERO -->
<section
    class="hero"
    id="hero-scene"
>
    <section class="move pd-0">
        <div class="container">

            <section class="treatment pd-0">
                <img
                    src="/assets/img/animation.gif"
                    alt="Kusama"
                >
                <div class="typed-text-wrap">
                    <span
                        class="h2 typed-text typed-text-hero"
                    ></span>
                </div>
            </section>

            <section class="button-wrap pd-0">

                <a
                    href="#"
                    class="btn btn-outline-primary"
                    data-toggle="modal"
                    data-target="#subscribe-modal"
                    style="margin-right: 0;"
                >
                    Subscribe for Updates
                </a>

            </section>

        </div>
    </section>
</section>