@import "../css/loaders/loader-typing.css";
@import "../css/theme.css";
@import "../css/custom.css";
@import "../css/fonts.css";
@import "../css/glitch.css";

// -------------- #vARIABLES

:root {
	//space
	--space: 20px;
	--half-space: calc(var(--space) / 2);
	--double-space: calc(var(--space) * 2);
	--space-lg: calc(var(--space) * 4);
	--space-xl: calc(var(--space) * 8);

	//colors
	--c-dark: black;
	--c-light: #eee;
	--c-accent: #e6007a;
	--c-cyan: #00ffe1;

	--c-paragraph: #ddd;
}

// -------------- #GLOBAL

body {
	background-color: black;
	text-align: center;
	& > div.loader {
		background-color: black;
	}
}

section,
.section {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	clear: both;
	padding: 6rem 0;
}

.pd-0 {
	padding: 0;
}

.container {
	display: inline-block;
	margin: auto;
	text-align: left;
	padding: 0 1.5rem;
}

.navbar-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100vw;
	a.btn {
		font-size: 0.8rem;
	}
}

#footer {
	position: relative;
	float: left;
	display: block;
	width: 100%;
	z-index: 4;
	color: var(--c-dark);
}

a.btn,
button.btn {
	font-weight: bold;
	font-size: 1rem;
	border-radius: 0;
	border-width: 2px;

	&.btn-outline-primary {
		color: var(--c-accent);
	}
	&.btn-outline-white {
		color: white;
	}

	&:hover {
		&.btn-outline-primary,
		&.btn-outline-white {
			color: var(--c-cyan);
			border-color: var(--c-cyan);
			background-color: transparent;
		}
	}
}

.button-wrap {
	text-align: center;
	display: flex;
	justify-content: center;

	.btn:first-of-type {
		margin: 0 2rem 0 0;
	}

	@media (max-width: 480px) {
		flex-direction: column;
		justify-content: flex-start;

		.btn:first-of-type {
			margin: 0 0 2rem 0;
		}
	}
}

::selection {
	background: var(--c-cyan);
	color: var(--c-accent);
	text-shadow: none;
}
